//description of site
  <p>This site is intended to be used as a searchable movie database as well as a
  persistent storage for movies you'd like to remember to check out later.</p>
  <br>
  <br>
  <p>To search for movies using the OMDB database, navigate to <a href="#!/search">search</a>, enter your keywords, and click Search OMDB.
    Click on any movie to see more information or to add it to your collection.</p>
  <br>
  <br>
  <p>To view your favorites, navigate to <a href="#!/favorites">favorites</a></p>
